Display a list of Sub Counties and their population and areas.
Sort the list of districts by total crop area (descending order).
Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.
Compute the total Maize production per District.
Compute the number of Sub counties where Maize is produced and the total Maize production per District.
Compute the overall Crop area in all Sub counties where population is over 20000.
Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.
Dataset Description

This dataset contains yield and population per subcounty.  The dataset for the above questions can be found here. [Link]. 

The glossary for this table is as follows:

POP: total population for the subcounty
S_Yield_Ha: average yield for sorghum for the subcounty (Kg/Ha)
M_Yield_Ha: average yield for maize for the subcounty (Kg/Ha)
Crop_Area_Ha: total crop area for the subcounty (Ha)
S_Area_Ha: total sorghum crop area for the subcounty (Ha)
M_Area_Ha: total maize crop area for the subcounty (Ha)
S_Prod_Tot: total productivity for the sorghum for the subcounty (Kg)
M_Prod_Tot: total productivity for the maize for the subcounty (Kg)

In [ ]:
# We will first load the sql extension into our environment
#
%load_ext sql
%sql sqlite://

'Connected: @None'

In [ ]:
# Importing the python libraries needed in this notebook

import csv
import pandas as pd

In [ ]:
#Loading the Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv table from  local CSV file
#Colaboratory by clicking View > Table of Contents > Files then Upload. (NB: Do not load file from url)

with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    Uganda_Karamoja_Subcounty_Crop_Yield_Population = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Then storing it in an SQL table of our in memory sqlite database

%sql DROP TABLE EXISTS Uganda_Karamoja_Subcounty_Crop_Yield_Population;
%sql PERSIST Uganda_Karamoja_Subcounty_Crop_Yield_Population;

 * sqlite://
(sqlite3.OperationalError) near "EXISTS": syntax error
[SQL: DROP TABLE EXISTS Uganda_Karamoja_Subcounty_Crop_Yield_Population;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
 * sqlite://

'Persisted uganda_karamoja_subcounty_crop_yield_population'

In [ ]:
# To preview attributes of the dataset
%sql select * from Uganda_Karamoja_Subcounty_Crop_Yield_Population limit 10;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114),
 (268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.18584310000006, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139),
 (591, 'KAABONG  EAST', 'KAABONG', 42221, 60801942, 'Y', 160.5885252, 650.1235647999999, 1021.31699, 1004.647534, 15.66040911, 161334.8658, 10181.201),
 (592, 'KAABONG TOWN COUNCIL', 'KAABONG', 38857, 13071455, 'Y', 212.21070299999997, 1229.213444, 175.08052659999998, 156.5038884, 18.52618562, 33211.80017, 22772.636430000002),
 (593, 'KAABONG WEST', 'KAABONG', 41454, 67612362, 'Y', 208.04051840000002, 1056.416068, 967.3367266, 910.2541223, 56.27535518, 189369.7394, 59450.18942),
 (594, 'KALAPATA', 'KAABONG', 99203, 223116860, 'Y', 209.8093519, 633.4231821000001, 2834.349905, 2501.368282, 331.2257949, 524810.4582, 209806.09699999998)]

In [ ]:
# To Display a list of Sub Counties and their population and areas
%%sql
SELECT SUBCOUNTY_NAME, POP, Crop_Area_Ha FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population;

 * sqlite://
Done.

[('KACHERI', 17244, 7023.533691),
 ('KOTIDO', 52771, 13587.990759999999),
 ('KOTIDO TOWN COUNCIL', 27389, 1656.5318550000002),
 ('NAKAPERIMORU', 38775, 7087.823334000001),
 ('PANYANGARA', 65704, 10398.24939),
 ('RENGEN', 41273, 13278.52043),
 ('KAABONG  EAST', 42221, 1021.31699),
 ('KAABONG TOWN COUNCIL', 38857, 175.08052659999998),
 ('KAABONG WEST', 41454, 967.3367266),
 ('KALAPATA', 99203, 2834.349905),
 ('KAMION', 60070, 997.1610206),
 ('KAPEDO', 33951, 2365.259806),
 ('KATHILE', 56870, 6890.699234000001),
 ('KAWALAKOL', 37691, 3934.432233),
 ('LOBALANGIT', 22907, 1890.248613),
 ('LODIKO', 31820, 401.7978207),
 ('LOLELIA', 100919, 2700.676313),
 ('LOYORO', 16608, 1491.771813),
 ('NAPORE (KARENGA)', 20394, 1494.047587),
 ('SIDOK', 24092, 957.4939457999999),
 ('ABIM', 14377, 999.3715888),
 ('ABIM TOWN COUNCIL', 11489, 788.4628001),
 ('ALEREK', 12573, 1266.109868),
 ('LOTUKEI', 18641, 698.1712182),
 ('MORULEM', 16834, 925.0541302000001),
 ('KARITA', 45015, 2513.27183),
 ('LOROO', 22541, 1539.401382),
 ('AMUDAT', 30181, 1651.99842),
 ('AMUDAT TOWN COUNCIL', 4053, 60.77208552),
 ('KATIKEKILE', 11772, 145.243518),
 ('NADUNGET', 42115, 2480.1219),
 ('TAPAC', 21999, 1111.664207),
 ('NORTHERN DIVISION', 7161, 0.322315707),
 ('SOUTHERN DIVISION', 3272, 0.17139046100000002),
 ('LOREGAE', 26644, 5759.618906000001),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 29.14576036),
 ('NAMALU', 25905, 5793.5076229999995),
 ('KAKOMONGOLE', 15960, 3264.534948),
 ('LOLACHAT', 22801, 5079.779088),
 ('LORENGEDWAT', 9929, 2008.0681690000001),
 ('NABILATUK', 27534, 3276.653762),
 ('IRIIRI', 46979, 5473.443674),
 ('LOPEEI', 18815, 3120.318045),
 ('LORENGECORA', 2503, 1031.196285),
 ('LOTOME', 17834, 1849.966589),
 ('MATANY', 29495, 2990.847377),
 ('NAPAK TOWN COUNCIL', 8010, 792.2492731000001),
 ('NGOLERIET', 20790, 1215.227445),
 ('NYAKWAE', 16470, 792.8987889),
 ('LOKOPO', 23200, 6471.047334000001),
 ('RUPA', 41493, 2217.2907170000003),
 ('MORUITA', 16588, 1161.3902289999999)]

In [ ]:
# To Sort the list of districts by total crop area (descending order)
%%sql
SELECT DISTRICT_NAME, Crop_Area_Ha FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
ORDER BY Crop_Area_Ha DESC;

 * sqlite://
Done.

[('KOTIDO', 13587.990759999999),
 ('KOTIDO', 13278.52043),
 ('KOTIDO', 10398.24939),
 ('KOTIDO', 7087.823334000001),
 ('KOTIDO', 7023.533691),
 ('KAABONG', 6890.699234000001),
 ('NAPAK', 6471.047334000001),
 ('NAKAPIRIPIRIT', 5793.5076229999995),
 ('NAKAPIRIPIRIT', 5759.618906000001),
 ('NAPAK', 5473.443674),
 ('NAKAPIRIPIRIT', 5079.779088),
 ('KAABONG', 3934.432233),
 ('NAKAPIRIPIRIT', 3276.653762),
 ('NAKAPIRIPIRIT', 3264.534948),
 ('NAPAK', 3120.318045),
 ('NAPAK', 2990.847377),
 ('KAABONG', 2834.349905),
 ('KAABONG', 2700.676313),
 ('AMUDAT', 2513.27183),
 ('MOROTO', 2480.1219),
 ('KAABONG', 2365.259806),
 ('MOROTO', 2217.2907170000003),
 ('NAKAPIRIPIRIT', 2008.0681690000001),
 ('KAABONG', 1890.248613),
 ('NAPAK', 1849.966589),
 ('KOTIDO', 1656.5318550000002),
 ('AMUDAT', 1651.99842),
 ('AMUDAT', 1539.401382),
 ('KAABONG', 1494.047587),
 ('KAABONG', 1491.771813),
 ('ABIM', 1266.109868),
 ('NAPAK', 1215.227445),
 ('NAKAPIRIPIRIT', 1161.3902289999999),
 ('MOROTO', 1111.664207),
 ('NAPAK', 1031.196285),
 ('KAABONG', 1021.31699),
 ('ABIM', 999.3715888),
 ('KAABONG', 997.1610206),
 ('KAABONG', 967.3367266),
 ('KAABONG', 957.4939457999999),
 ('ABIM', 925.0541302000001),
 ('ABIM', 792.8987889),
 ('NAPAK', 792.2492731000001),
 ('ABIM', 788.4628001),
 ('ABIM', 698.1712182),
 ('KAABONG', 401.7978207),
 ('KAABONG', 175.08052659999998),
 ('MOROTO', 145.243518),
 ('AMUDAT', 60.77208552),
 ('NAKAPIRIPIRIT', 29.14576036),
 ('MOROTO', 0.322315707),
 ('MOROTO', 0.17139046100000002)]

In [ ]:
#To Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum
%%sql
SELECT SUBCOUNTY_NAME, S_Prod_tot, DISTRICT_NAME FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE DISTRICT_NAME = "MOROTO" 
ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413, 'MOROTO'),
 ('NADUNGET', 321630.539, 'MOROTO'),
 ('NORTHERN DIVISION', 17.28125956, 'MOROTO'),
 ('RUPA', 227298.5184, 'MOROTO'),
 ('SOUTHERN DIVISION', 19.67486547, 'MOROTO'),
 ('TAPAC', 49251.66081, 'MOROTO')]

In [ ]:
#Compute the total Maize production per District
%%sql
SELECT DISTRICT_NAME,SUM(M_Prod_Tot)
FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

In [ ]:
#Compute the number of Sub counties where Maize is produced and the total Maize production per District
%%sql
SELECT DISTRICT_NAME, SUM(M_Prod_Tot), COUNT(SUBCOUNTY_NAME)
FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE "M_Prod_Tot" IS NOT NULL
GROUP BY "DISTRICT_NAME"
ORDER BY COUNT(SUBCOUNTY_NAME);

 * sqlite://
Done.

[('AMUDAT', 3546469.3324990002, 4),
 ('ABIM', 1922133.1297, 6),
 ('KOTIDO', 2010179.0731479998, 6),
 ('MOROTO', 422116.06882464996, 6),
 ('NAKAPIRIPIRIT', 8125156.24546, 8),
 ('NAPAK', 5587379.38888, 8),
 ('KAABONG', 6990361.6143000005, 14)]

In [ ]:
#Compute the overall Crop area in all Sub counties where population is over 20000.
%%sql
SELECT SUM(Crop_Area_Ha) ,COUNT(SUBCOUNTY_NAME)
FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE POP > 20000;

 * sqlite://
Done.

[(120212.89015529997, 32)]

In [ ]:
#Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria
#display the number of Sub counties per district matching that criteria
%%sql
SELECT DISTRICT_NAME,COUNT(SUBCOUNTY_NAME), M_Area_Ha,S_Area_Ha
FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE M_Area_Ha > S_Area_Ha 
GROUP BY DISTRICT_NAME
ORDER BY M_Prod_Tot DESC;

 * sqlite://
Done.

[('AMUDAT', 1, 972.1742458999998, 676.7832664),
 ('NAKAPIRIPIRIT', 3, 959.6711616, 185.2834449),
 ('KAABONG', 3, 1221.532726, 267.559128),
 ('NAPAK', 2, 401.1734419, 386.1580327),
 ('MOROTO', 3, 0.19137495100000002, 0.130940756)]